.logo {
	font-family: Arial, sans-serif;
	font-size: 1rem;
	text-transform: uppercase;
	color: #fff;
	background-color: #000000;
	padding: 0.7em;
	border-radius: 5px;
	box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
	transform: skew(-10deg);
}

.logo h1 {
	margin: auto 0;
	// margin: 0;
	transform: skew(10deg);
}

.navigation {
	position: relative;
	display: flex;
	justify-content: space-between;
	font-size: 1.6rem;
	padding: 0.5em;

	&__ul {
		list-style: none;
		margin-top: 2em;
		padding: 2em;
	}
	&__li {
		padding: 0.5em 0;
		list-style: none;
		text-align: center;
	}
	.mobileNav {
		position: absolute;
		flex-direction: column;
		background-color: white;
		top: 0;
		left: 0;
		// bottom: 0;
		right: 0;
		transform: translateX(200%);
		opacity: 0;
		transition: all 0.7s linear;
	}
	.active {
		background-color: #d0d0d0;
		display: flex;
		opacity: 1;
		transform: translateX(0);
	}
}
.hamburger {
	font-size: 1.6rem;
	max-width: 100%;
	width: 1.6em;

	margin: 0em 1em 0em auto;

	//    padding: 1em;
}
.navExit {
	position: absolute;
	// font-size: 2.2rem;
	width: 1.6em;
	right: 5%;
	top: 5%;
	// padding: 0.5em 1em;
	// margin: 1em 1em 0em auto;
}

.navigation__desktop {
	display: none;
}
@media (min-width: 786px) {
	.navigation {
		display: none;
	}
	.navigation__desktop {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 0.5em;
		&__ul {
			display: flex;
			list-style: none;
		}
		&__li {
			margin-right: 0.5em;
			transform: skew(-10deg);
			
			a,
			a:focus,
			a:active {
				color: #ffffff;
			}
		}
		&__link{
			border-radius: 5px;
			font-size: 1.3rem;
			background: #000;
			list-style: none;
			padding: 0.7em;
			box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
		}
	}
}
